.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  background: var(--background);
}

.header {
  background: var(--cardBackground);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.home {
  margin-left: 47px;
  margin-right: 74px;
}

.country {
  margin-left: 80px;
}

@media only screen and (max-width: 400px) {
  .container {
    overflow-x: hidden;
  }

  .sub-header {
    margin-left: 16px;
  }

  .home {
    margin-left: 56px;
    margin-right: 56px;
  }
}

