.container{
    display: flex;
    flex-direction: column;
    gap: 48px;
    background: var(--background);
}



.home {
    margin-left: 40px;
    margin-right: 100px;
}

.country{
    margin-left: 80px;
}

@media only screen and (max-width: 400px) {
    .container{
        overflow-x: hidden;
    }

    .sub-header {
        margin-left: 16px;
    }

    .home {
        margin-left: 56px;
        margin-right: 56px;
    }

    /* :host {
        overflow-x: hidden;
      } */
  }