@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Josefin+Sans&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,600;6..12,800&display=swap");

.container {
  display: flex;
  gap: 75px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 264px;
  height: 336px;
  border-radius: 5px;
  background: var(--cardBackground);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  margin-bottom: 20px;
}

.flag img {
  width: 264px;
  height: 160px;
  background: lightgray 0px 0px / 100% 100% no-repeat;
  object-fit: cover;
}

.text {
  margin-left: 24px;
}

.larger-text {
  color: var(--textColor);
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}

h3 {
  margin-top: 13px;
  margin-bottom: -3px;
}

p {
  color: var(--textColor);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.value {
  color: var(--textColor);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

a {
  cursor: pointer;
}

@media (max-width: 1436px) {
  .container {
    gap: 15px;
  }
}

@media (min-width: 1790px) {
  .container {
    gap: 80px;
  }
}
