@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Josefin+Sans&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,600;6..12,800&display=swap');


.container {
    display:grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 3 columns */
    grid-gap: 75px;
}

.card {
    width: 264px;
    height: 336px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    cursor: pointer;
}


.flag img {
    width: 267px;
    height: 160px;
    background: lightgray 0px 0px / 100% 100% no-repeat;
}

.text {
   margin-left: 24px;
}

.larger-text {
    color: #111517;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
}

.details-container p {
    color: #111517;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

a {
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
    }
  }