<div class="container">
    <div 
    class="card" 
    *ngFor="let value of countries" 
    (click)="onClick(value)">
        <div class="flag">
            <img [src]="value.flags.png" >
        </div>
        <div class="text">
            <div class="larger-text">
                <h3>{{value.name.common}}</h3>
            </div>
            <div class="details-container">
                <p>Population: <span class="value">{{value.population}}</span> </p>
                <p>Region: <span class="value">{{value.region}}</span></p>
                <p>Capital: <span class="value">{{value.capital}}</span></p>
            </div>
            
        </div>
    </div>

    <!-- <div class="card">
        <div class="flag"></div>
        <div class="text">
            <div class="larger-text">
                <h3>Germany</h3>
            </div>
            <div class="details-container">
                <p>Population</p>
                <p>Region</p>
                <p>Capital</p>
            </div>
            
        </div>
    </div>

    <div class="card">
        <div class="flag"></div>
        <div class="text">
            <div class="larger-text">
                <h3>Germany</h3>
            </div>
            <div class="details-container">
                <p>Population</p>
                <p>Region</p>
                <p>Capital</p>
            </div>
            
        </div>
    </div>

    <div class="card">
        <div class="flag"></div>
        <div class="text">
            <div class="larger-text">
                <h3>Germany</h3>
            </div>
            <div class="details-container">
                <p>Population</p>
                <p>Region</p>
                <p>Capital</p>
            </div>
            
        </div>
    </div> -->
</div>
