@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Josefin+Sans&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,600;6..12,800&display=swap');

.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 136px;
    height: 40px;
    border-radius: 6px;
    background: var(--cardBackground);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
    cursor: pointer;
}

.arrowIcon {
    color: var(--iconColor);
}

.text {
    color: var(--textColor);
    font-family:' Nunito Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.detail-container {
    display: flex;
    flex-direction: row;
    gap: 120.29px;
    margin-top: 80px;
}

.flag {
    width: 559.715px;
    height: 483.169px;
}

.flag img {
    width: 380px;
    height: 266px;
}

.information {
    width: 598px;
    height: 323px;
}

.info-container {
    display: flex;
    flex-direction: column;
    margin-left: -118px;
}

h4 {
    color: var(--textColor);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.detail {
    margin-top: -45px;
    display: flex;
    flex-direction: row;
    gap: 89px;
}

.first-detail {
    width: 251px;
    height: 160px;
}

.first-detail p {
    color: var(--textColor);
    font-family:' Nunito Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.description {
    margin-top: 1px;
}

.correction {
    margin-top: 2px;
}

.correction-btn {
    margin-bottom: 1px;
}


.value {
    color: var(--textColor);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}

.second-detail{
    width: 263px;
    height: 95px;
}

.second-detail p{
    color: var(--textColor);
    font-family:' Nunito Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.btm-info {
    display: flex;
    flex-direction: row;
    margin-top: 91px;
    gap: 16px;
}

.border-container {
    display: flex;
    gap: 7px;
}

.border-countries {
    display: flex;
    justify-content: center;
    width: 96px;
    height: 28px;
    border-radius: 2px;
    background: var(--cardBackground);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
}

.txt {
    width: 138px;
    color: var(--textColor);
    font-family:' Nunito Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

@media only screen and (max-width: 400px) {
    .container {
        width: 375px;
        height: 1591px;
        margin-left: -28px;
    }

    .detail-container {
        display: flex;
        flex-direction: column;
    }

    .information {
        margin-top: -283px;
        width: 375px;
    }

    .info-container {
        margin-left: 7px;
    }

    .flag img {
        width: 319.837px;
        height: 275.924px;
        object-fit: contain;
    }

    .detail{
        display: flex;
        flex-direction: column;
    }

    .btm-info {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 16px;
    }

    .second-detail{
        margin-top: -57px;
    }

    .border-container {
        display: flex;
        gap: 4px;
    }

    .correction-btn {
        width: 375px;
    }
    
}

