<div class="container">
    <div class="back-button" (click)="goBack()">
        <div class="icon">
        <fa-icon [icon]="arrowLeftIcon" style="width: 20px; height: 20px;"
        class="arrowIcon"></fa-icon>
        </div>
        <div class="text">
            Back
        </div>
    </div>

    <div class="detail-container">
        <div class="flag">
            <img [src]="selectedCountry.flags.png" alt="Flag">
        </div>
        <div class="information">
            <div class="info-container">
                <h4 class="description correction-top">{{selectedCountry.name.common}}</h4>
                <div class="detail">
                    <div class="first-detail">
                        <p class="description correction-btn">Native Name:<span class="value">{{selectedCountry.name.common}}</span></p>
                        <p class="description correction-btn">Population:<span class="value"> {{selectedCountry?.population}}</span></p>
                        <p class="description  correction-btn">Region:<span class="value"> {{selectedCountry?.region}}</span></p>
                        <p class="description  correction-btn">Sub Region:<span class="value"> {{selectedCountry?.subregion}}</span> </p>
                        <p class="description  correction-btn">Capital:<span class="value"> {{selectedCountry?.capital[0]}}</span></p>
                    </div>
                    <div class="second-detail">
                        <p class="description correction-btn">Top Level Domain:<span class="value"> {{selectedCountry?.tld[0]}}</span></p>
                        <p class=" description  correction-btn"> Currencies:<span class="value length"> {{currency.name || 'N/A'}}</span></p>
                        <p class="description  correction-btn">Languages: <span class="value"> {{language}}</span></p>
                    </div>
                </div>
                <div class="btm-info">
                    <div class="txt-container">
                        <div class="txt">
                            Border Countries: 
                        </div>
                    </div>
                    <div class="border-container" *ngFor="let borderCountries of selectedCountry.borders; let i = index">
                        <div class="border-countries value">
                            {{selectedCountry.borders[i]}}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
