@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Josefin+Sans&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,600;6..12,800&display=swap");

.header-container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-sub-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-right: 88px;
}

.colorIcon {
  color: var(--iconColor);
}

.text-header {
  margin-left: 40px;
  color: var(--textColor);
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.small-text-image {
  color: var(--textColor);
  font-family: " Nunito Sans" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* mobile view */

@media only screen and (max-width: 400px) {
  .header-container {
    width: 375px;
    height: 80px;
  }

  .image-container {
    margin-right: 11px;
  }

  .text-header {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    margin-left: 20px;
  }

  .small-text-image {
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

