@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Josefin+Sans&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,600&display=swap');

.container{
    display: flex;
    justify-content: space-between;
}

.search-input {
    width: 480px;
    height: 56px;
    display: flex;
    gap: 24px;
    padding-left: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-section {
    width: 100%;
    display: flex;
}

.enter-country {
  border: none;
  outline: none;
  width: 100%;
}

input{
    color: #848484;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.dropbtn {
    width: 200px;
    height: 56px;
    border: none;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  }

  .adjust {
    display: flex;
    align-items: center;
    gap: 47px;
    margin-left: 236px;
  }

  .caret {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .txt {
    color: #111517;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 13px;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    width: 200px;
    height: 164px;
    margin-top: 220px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    z-index: 1;
  }
 
  .dropdown-content a {
    color: #111517;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 6px 16px;
    text-decoration: none;
    cursor: pointer;
    display: block;
  }

  .show {
    display: block;
  }

  .sub-container {
    width: 240px;
  }

  @media only screen and (max-width: 400px) {
    .container{
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-left: -36px
      /* justify-content:  */
  }

    .search-input {
      width: 316px;
      height: 48px;
  }

  .adjust {
    margin-left: -3px;
  }
  }
